<%= form_for @question do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div>
    <%= f.label :position %>
    <%= f.number_field :position, value: Question.all.count %>
  </div>
  <div>
    <h4>Awnsers</h4>
    <%= f.fields_for :awnsers do |fa| %>
      <div>
        <%= fa.label :content %>
        <%= fa.text_field :content %>
      </div>
      <div>
        <%= fa.label :score %>
        <%= fa.number_field :score %>
      </div>
    <% end %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>