<%= form_for @question do |f| %>
  <div class='form-group'>
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :position %>
    <%= f.number_field :position, value: Question.all.count+1, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <h4>Awnsers</h4>
    <%= f.fields_for :awnsers do |fa| %>
      <div class='form-group'>
        <%= fa.label :content %>
        <%= fa.text_field :content, class: 'form-control' %>
      </div>
      <div class='form-group'>
        <%= fa.label :score %>
        <%= fa.number_field :score, class: 'form-control' %>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to 'Cancel', questions_path, class: 'btn btn-secondary ml-2' %>
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>