<%= @question.content %>
<%= form_for :user, url: { controller: 'users', action: 'quiz_awnser' } do |f| %>
  <% @question.awnsers.each do |awnser| %>
    <p>
      <%= radio_button_tag :awnser_id, awnser.id, @user.awnsers.include?(awnser) %>
      <%= label_tag awnser.content %>
    </p>
  <% end %>
  <% if @question.previous_question? %>
    <%= link_to 'Previous', user_quiz_question_path(@user, question_id: @question.previous_question.id) %>
  <% end %>

  <%= f.submit @question.next_question? ? 'Next' : 'Result' %>
<% end %>