<%= form_for [@question, @awnser] do |f| %>
  <div>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div>
    <%= f.label :score %>
    <%= f.number_field :score %>
  </div>

  <div>
    <%= f.label :question %>
    <%= f.collection_select :question, Question.all, :id, :content, selected: @question.id %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
